.header__link_active {
    text-decoration-line: none;
    margin:0;
    padding: 0 48px 0 18px;
}

@media screen and (max-width: 1024px) {
    .header__link_active {
        padding: 0 48px 0 18px;
    }
} 

@media screen and (max-width: 768px) {
    .header__link_active {
        padding: 0 24px 0 18px;
    }
} 

@media screen and (max-width: 320px) {
    .header__link_active {
        padding: 0 16px 0 18px;
    }
} 

