.header__logo {
    width: 176px;
    height: 52px;
    margin: 0;
    padding: 0 0 0 48px;
}

@media screen and (max-width: 767) {
    .header__logo {
        padding: 0 0 0 24px;
    }
} 

@media screen and (max-width: 459px) {
    .header__logo {
        padding: 0 0 0 16px;
        width: 142px;
        height: 42px;
    }
} 