.footer__copyright {
margin: 0;
padding: 0;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 114%;
color: #FFFFFF;
}


@media screen and (max-width: 710px) {
    .footer__copyright {
        margin-top: 48px;
    }
} 