.intro__text {
width: calc(100% - 148 - 442);
margin: 0;
padding: 40px 0 0 0;
max-width: 690px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 163%;
color: #fff;
}