.intro {
width: 984px;
margin: 0;
padding: 92px 0 0 0;
border: 1px solid #fff;
}


@media screen and (max-width: 1023px) {
    .intro {
        width: 928px;
        padding: 92px 0 0 0;
    }
} 

@media screen and (max-width: 767px) {
    .intro {
        width: 720px;
        padding: 88px 0 0 0;
    }
} 

@media screen and (max-width: 319px) {
    .intro {
        width: 320px;
        padding: 64px 16px 0 16px;
    }
} 
