.intro {
    width: 100%;
    max-width: 984px;
    padding: 92px 0 0 0;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 1024px) {
    .intro {
        max-width: 928px;
    }
} 

@media screen and (max-width: 768px) {
    .intro {
        max-width: 720px;
        padding: 88px 0 0 0;
    }
} 

@media screen and (max-width: 320px) {
    .intro {
        max-width: 288px;
        padding: 64px 0 0 0;
    }
} 

