.lead__subtitle {
width: 640px;
margin: 32px auto 0 auto;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 120%;
text-align: center;
color: #FFFFFF;
grid-column-start: 2;
grid-column-end: 3;
}