.lead__subtitle {
width: 100%;
max-width: 740px;
margin: 32px auto 0 auto;
padding: 0;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 120%;
text-align: center;
color: #FFFFFF;
}

@media screen and (max-width: 1023px) {
    .lead__subtitle {
        max-width: 640px;
    }
} 

@media screen and (max-width: 767px) {
    .lead__subtitle {
        max-width: 640px;
    }
} 

@media screen and (max-width: 459px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 125%;
        max-width: 288px;
    }
} 