.photo-grid__items {
list-style-type: none;
margin: 0 auto 0 auto;
padding: 0;
display: grid;
grid-template-columns: repeat(auto-fit, 284px);
grid-gap: 16px;
font-size: 0; 
justify-content: center;
}

@media screen and (max-width: 1023px) {
    .photo-grid__items {
        grid-template-columns: repeat(auto-fit, 300px);
        grid-gap: 14px;
    }
} 

@media screen and (max-width: 767px) {
    .photo-grid__items {
        grid-template-columns: repeat(auto-fit, 352px);
        grid-gap: 16px;
    }
} 

@media screen and (max-width: 459px) {
    .photo-grid__items {
        grid-template-columns: repeat(auto-fit, 288px);
        grid-gap: 12px;
    }
} 