.place {
    max-width: 984px;
    width: 100%;
    margin:0;
    padding: 0 0 80px 0;
    display: grid;
    gap: 48px 40px;
    grid-template-columns: 460px 1fr;
}

.place:last-child {
    padding: 0; 
}

@media screen and (max-width: 1024px) {
    .place {
        max-width: 928px;
        gap: 48px 32px;
        grid-template-columns: 440px 1fr;
    }
} 

@media screen and (max-width: 768px) {
        .place {
        max-width: 720px;
        gap: 48px 28px;
        grid-template-columns: 340px 1fr;
    }
} 

@media screen and (max-width: 600px) {
    .place {
        gap: 32px 32px;
        grid-template-columns: 1fr;
        padding: 0 0 50px 0;
    }
} 

